@import "../Base.scss";
.home{
    width: 100%;
    height:100vh;
    min-height:100vh;
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;

    &-user{
        display: flex;
        align-items: center;
        background-color: $white-color;
        &-posting{
            height:35px;
            width:300px;
            text-align: left;
            background-color: transparent;
            border-radius: 17.5px;
            padding: 0 10px;
            border: 1.5px solid rgba(128, 128, 128, 0.685);
            color: rgba(128, 128, 128, 0.685);

        }
    }
    &-switch{
        width:100%;
        height:fit-content;
        display: flex;
        justify-content: space-between;
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 3px;
        button{
            width:50%;
            padding:5px 0;
            font-size: 20px;
            font-weight: 700;
            background-color: $white-color;
            border: 0;

        }
    }
    &-posts{
        width:100%;
        height:100%;
    }
}